<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- seo -->
<meta name="title" content="咸鱼腥闻">
<meta name="keywords" content="娱乐,新闻,明星,段子,搞笑,内涵,电影,时尚">
<meta name="description" content="好玩、有品的娱乐新闻">
<meta name="robots" content="all">

<title><%= article_title %>——咸鱼腥闻</title>

<link href="/stylesheets/style.css" rel="stylesheet" media="screen">
<script type="text/javascript"src="/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

</head>
<body>
